{% extends 'base.html' %}
{% block title %}
    To Do List
{% endblock %}

{% block navmenu %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'task_add' %}">Create new task</a>
    </li>
{% endblock %}

{% block content %}
    {% for task in tasks %}
        <div class="card my-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Описание: {{ task.description }}</h5>
            <p class="card-text">Статус: {{ task.get_display_status }}</p>
            <p>Дата выполнения: {{ task.due_date }}</p>
            <div>
                <a href="{% url 'task_view' task.pk %}" class="card-link">Подробнее >>></a>
                <div>
                    <a href="{% url 'task_edit' task.pk %}" class="card-link">Редактировать</a>
                    <a href="{% url 'task_delete' task.pk %}" class="card-link">Удалить</a>
                </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}