{% extends "base.html" %}

{% block title %}
    Delete Task
{% endblock %}


{% block content %}
    <h1 class="text-center">Вы уверены, что хотите удалить задачу "{{ task.description }}"?</h1>
    <form method="POST" action="{% url "task_delete" task.pk %}" class="text-center">
        {% csrf_token %}
        <div style="margin-top: 30px">
            <button type="submit" class="btn btn-primary" style="width: 70px; height: 40px;">Да</button>
            <a href="{% url "index" %}" class="btn btn-danger" style="width: 70px; height: 40px;">Нет</a>
        </div>
    </form>
{% endblock %}