{% extends 'base.html' %}
{% block title %}
    Task View
{% endblock %}
{% block content %}
    <div class="card text-center" style="margin-top: 40px">
        <div class="card-header">
            <h3>
                {{ task.description }}
            </h3>
        </div>
        <div class="card-body">
            <p class="card-text" style="white-space: pre">{{ task.detailed_description }}</p>
        </div>
        <div class="card-footer text-body-secondary">
            {{ task.due_date }}
        </div>
    </div>
{% endblock %}